/* Projects Page */
/* colored blocks across page */
.block {
  position: absolute;
}

.block5 {
  background-color: #e31f71;
  width: 10%;
  height: 200px;
  top: 0;
  right: 0;
}

.block6 {
  background-color: #00ffbb;
  width: 4%;
  height: 185px;
  top: 240px;
  z-index: 1;
}

.block7 {
  background-color: #8838b4;
  width: 8%;
  height: 570px;
  top: 370px;
}

.block8 {
  background-color: #e1801f;
  width: 10%;
  height: 125px;
  top: 850px;
  right: 0;
}

.projectsPage {
    background-color: #262626;
    padding-bottom: 6rem;
    color: #fff;
  }

  .colorHead {
    color: #00ffbb;
    font-size: 25px;
  }
  
  .sectionHead {
    font-size: 30px;
  }
  
  .centerText {
    padding-top: 5%;
    text-align: center;
  }
  
  .row3{
    width: 70%;
    display: flex;
    position: relative;
    left: 15%;
    top: 3%;
  }
  
  .col3 {
    flex: 25%;
    margin: 15px;
    background-color: #fff;
    height: 240px;
    width: 385px;
  }
  
  .boxPink {
    border: 3px solid #e31f71;
  }
  
  .boxBlue {
    border: 3px solid #00aeff;
  }
  
  .boxYellow {
    border: 3px solid #ffe240;
  }
  
  .boxOrange {
    border: 3px solid #e1801f;
  }
  
  .boxGreen {
    border: 3px solid #00ffbb;
  }
  
  .boxPurple {
    border: 3px solid #8838b4;
  }

  .colorHead {
    font-family: 'Source Serif 4', sans-serif;
  }
  
  .subHead {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-weight: 500;
  }

  @media all and (max-width: 850px) {
    .row3{
      display: inline-block;
    }
    
  }

  